<template>
  <!--<footer class="footer">
    <div class="container">
      <div class="content">
        <img src="@/static/img/usp_nr.jpg" />
        <img src="@/static/img/utfpr_nr.jpg" />
        <img src="@/static/img/uchile_nr.jpg" />
        <img src="@/static/img/accdis_nr.jpg" />
      </div>
    </div>
  </footer>-->
  <footer class="footer">
    <section class="container product-row">
      <div class="columns is-mobile">
        <div
          class="column is-one-quarter-desktop is-half-mobile is-half-tablet"
        >
          <img src="@/static/img/accdis_branco.png" />
        </div>

        <div
          class="column is-one-quarter-desktop is-half-mobile is-half-tablet"
        >
          <img src="@/static/img/usp_branco.png" />
        </div>

        <div
          class="column is-one-quarter-desktop is-half-mobile is-half-tablet"
        >
          <img src="@/static/img/utfpr_branco.png" />
        </div>

        <div
          class="column is-one-quarter-desktop is-half-mobile is-half-tablet"
        >
          <img src="@/static/img/uchile_branco.png" />
        </div>
      </div>
    </section>

    <!--
    <div class="columns is-centered">
      <div class="column is-half">
        <figure class="image is-128x128">
          <img
            src="@/static/img/usp_branco.png"
            alt="Universidade de São Paulo"
          />
        </figure>
        <figure class="image is-128x128">
          <img src="@/static/img/utfpr_branco.png" alt="UTFPR" />
        </figure>
        <figure class="image is-128x128">
          <img
            src="@/static/img/uchile_branco.png"
            alt="Universidad de Chile"
          />
        </figure>
        <figure class="image is-128x128">
          <img src="@/static/img/accdis_branco.png" alt="ACCDIS" />
        </figure>
      </div>
    </div>
    -->
  </footer>
</template>

<style scoped>
.footer {
  background-color: #285e8e;
}
</style>
