<template>
  <!--<nav
    class="navbar color-navbar"
    role="navigation"
    aria-label="main navigation"
  >-->
  <nav
    class="navbar header has-shadow color-navbar is-fixed-top"
    role="navigation"
    aria-label="main navigation"
  >
    <div class="columns is-mobile">
      <div class="column is-half">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://nr2.ncrnadatabases.org">
            <div class="tile is-ancestor">
              <div class="tile is-parent is-vertical">
                <div class="tile">
                  <img src="@/static/img/nr2-logo.png" />
                  <img src="@/static/img/nr2-font.png" />
                </div>
                <div class="tile is-child">
                  <small>
                    Redundant Non-coding RNA Sequences
                  </small>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- <div class="column"> -->
      <div class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item is-active">
            Home
          </a>

          <a class="navbar-item">
            About
          </a>

          <a class="navbar-item">
            Search
          </a>

          <a class="navbar-item">
            Statistics
          </a>

          <a class="navbar-item">
            NRDR Database
          </a>
        </div>
      </div>
      <!-- </div> -->
    </div>

    <!--
    <div class="tile is-ancestor">
      <div class="tile is-3" />
      <div class="tile is-2 is-parent">
        <div class="tile is-child">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://nr2.ncrnadatabases.org">
              <div class="grouped group-multiline">
                <img src="@/static/img/nr2-logo.png" />
                <img src="@/static/img/nr2-font.png" />
              </div>
            </a>
            <a class="navbar-item" href="https://nr2.ncrnadatabases.org">
              <b-tooltip
                label="Redundant Non-coding RNA Sequences"
                :active="true"
                always
                position="is-bottom"
              />
            </a>
          </div>
        </div>
      </div>
      <div class="tile is-5 is-parent">
        <div class="tile is-child">
          <div class="navbar-menu">
            <div class="navbar-start">
              <a class="navbar-item is-active">
                Home
              </a>

              <a class="navbar-item">
                About
              </a>

              <a class="navbar-item">
                Search
              </a>

              <a class="navbar-item">
                Statistics
              </a>

              <a class="navbar-item">
                NRDR Database
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="tile is-2" />
    </div>-->

    <!--
    <div class="navbar-brand">
      <a class="navbar-item" href="https://nr2.ncrnadatabases.org">
        <div class="grouped group-multiline">
          <img src="@/static/img/nr2-logo.png" />


          <b-tooltip
            label="Redundant Non-coding RNA Sequences"
            :active="true"
            always
            position="is-bottom"
          >
            <img src="@/static/img/nr2-font.png" />
          </b-tooltip>
        </div>
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item is-active">
          Home
        </a>

        <a class="navbar-item">
          About
        </a>

        <a class="navbar-item">
          Search
        </a>

        <a class="navbar-item">
          Statistics
        </a>

        <a class="navbar-item">
          NRDR Database
        </a>
      </div>
    </div>
    -->
  </nav>
</template>

<style scoped>
.color-navbar {
  background-color: #285e8e !important;
}
</style>
