<template>
  <div v-if="showInfoRequest" class="content">
    <b-message :closable="isClosable" title="Rfam Search" class="box is-dark">
      <b-notification :closable="false">
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="@/static/img/rfam-logo-48x48.png" />
            </p>
          </figure>
          <small>
            <strong>Rfam Resquet Opened: </strong>
            {{ rfamRequest.opened }}
            <br />
            <strong>Rfam Job ID: </strong>
            {{ rfamRequest.jobId }}
            <br />
            <strong>Estimated Time: </strong>
            {{ rfamRequest.estimatedTime }}s
            <br />
            <strong>Result URL: </strong>
            <a :href="rfamRequest.resultURL" target="_blank">
              {{ rfamRequest.resultURL }}
            </a>
            <br />
          </small>
        </article>
      </b-notification>

      <b-notification v-if="startCounter" :closable="false">
        <article class="media">
          <b-icon icon="database-search" size="is-medium" />
          Request Sequence in the Rfam Database!
          <strong>Attempt {{ retryRfamResponseCurrent }}</strong
          >...
          <b-loading
            :is-full-page="isFullPage"
            :active.sync="isLoadingResponse"
            :can-cancel="true"
          />
        </article>
      </b-notification>

      <b-notification v-if="responseOk" :closable="false">
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="@/static/img/rfam-logo-48x48.png" />
            </p>
          </figure>
          <p>
            <strong>Rfam Resquet Closed: </strong>
            {{ rfamResponse.closed }}
            <br />
            <strong>Rfam Results Found: </strong>
            {{ rfamResponse.numHits }}
            <br />
          </p>
        </article>
        <b-notification
          v-for="(hit, index) in rfamResponse.hits"
          :key="hit.id"
          :closable="false"
        >
          <p class="box">
            <small>
              <strong>Name: </strong>
              {{ index }}
              <br />
              <div v-for="(value, column) in hit[0]" :key="value.id">
                <div v-if="column == 'alignment'">
                  <strong>{{ column }}: </strong>
                  <br />
                  <div class="box">
                    <div v-for="line in value" :key="line.id">
                      <p>
                        {{ line }}
                      </p>
                    </div>
                  </div>
                </div>
                <div v-else>
                  <strong>{{ column }}: </strong>
                  {{ value }}
                  <br />
                </div>
              </div>
            </small>
          </p>
        </b-notification>
      </b-notification>

      <b-notification v-if="responseError" :closable="false" class="is-danger">
        <strong>Response Rfam API Fail!</strong>
      </b-notification>
    </b-message>
  </div>

  <div v-else class="content">
    <b-message
      :closable="isClosable"
      title="Rfam Search"
      type="is-warning"
      class="box"
    >
      <b-notification :closable="false">
        <article class="media">
          <b-icon icon="database-search" size="is-medium" />
          Request Sequence in the Rfam Database
          <b-loading
            :is-full-page="isFullPage"
            :active.sync="isLoadingRequest"
            :can-cancel="true"
          />
        </article>
      </b-notification>
    </b-message>
  </div>
</template>

<script>
const sleep = waitTimeInMs =>
  new Promise(resolve => setTimeout(resolve, waitTimeInMs))

export default {
  props: {
    sequence: {
      type: String,
      required: true
    },
    isClosable: {
      type: Boolean,
      default: false
    },
    isFullPage: {
      type: Boolean,
      default: false
    }
  },

  data() {
    return {
      showInfoRequest: false,
      isLoadingRequest: true,
      isLoadingResponse: true,
      startCounter: false,
      responseOk: false,
      responseError: false,
      rfamRequest: [],
      rfamResponse: [],
      maxRetryRfamResponse: 2,
      multiplierTimeGetResponse: 4,
      retryRfamResponseCurrent: 1
    }
  },

  created() {
    this.submitSequenceRfam(this.sequence)
  },

  methods: {
    async submitSequenceRfam(sequence) {
      // console.info('START LOADING REQUEST RFAM ', sequence)
      this.isLoadingRequest = true

      this.showInfoRequest = false

      // CLEAN
      this.rfamRequest = []

      const dataRfam = new FormData()

      dataRfam.append('seq', sequence)

      try {
        await this.$axios
          .post('/rfam/search/sequence', dataRfam, {
            headers: {
              Accept: 'application/json'
            }
          })
          .then(response => {
            this.rfamRequest = response.data

            // console.info('ARRAY RETORNO RFAM, SEQ ', this.rfamRequest)

            this.showInfoRequest = true
            this.isLoadingRequest = false
          })
      } catch (e) {
        console.log('CATCH FUNCTION SUBMIT RFAM: ', e)
        this.isLoadingRequest = false
      }

      // this.rfamRequest.estimatedTimeSecond =
      //  this.rfamRequest.estimatedTime * this.multiplierTimeGetResponse

      // this.rfamRequest.estimatedTimeAdjust = this.rfamRequest.estimatedTimeSecond * 1000

      // this.rfamRequest.estimatedTimeAdjust = 60000

      /*
      this.requestResposeRfam(
        this.rfamRequest.estimatedTimeAdjust,
        this.rfamRequest.resultURL
      ) */
    },
    async requestResposeRfam(estimatedTime, url) {
      this.startCounter = true
      this.rfamResponse = []

      // console.log('RFAM Wait ms INITIAL : ', estimatedTime)
      await sleep(estimatedTime)

      // console.log('Url in Rfam Function: ', url)

      try {
        return await this.$axios
          .get(url, {
            headers: {
              Accept: 'application/json'
            }
          })
          .then(response => {
            // console.info('RESPONSE STATUS RFAM API: ', response.status)

            while (
              this.retryRfamResponseCurrent <= this.maxRetryRfamResponse &&
              response.status !== 200
            ) {
              // console.log('retryRfamResponse: ', this.retryRfamResponseCurrent)
              if (response.status === 202) {
                // console.log('STATUS : ', response)
                this.retryRfamResponseCurrent++
                this.requestResposeRfam(estimatedTime, url)
                break
              } else {
                this.isLoadingResponse = false
                this.startCounter = false
                this.responseError = true
                return console.info(
                  'Error in response Rfam, status code: ',
                  response.status
                )
              }
            }

            if (response.status === 200) {
              // console.log('RETORNO FUNÇÃO SUBMIT RFAM: ', response.data)

              this.rfamResponse = response.data
              this.startCounter = false
              this.isLoadingResponse = false
              this.responseOk = true
              return response.data
            }
          })
      } catch (e) {
        console.log('CATCH FUNCTION SUBMIT RFAM', e)
        this.isLoadingResponse = false
        this.startCounter = false
        this.responseError = true
      }
    }
  }
}
</script>
