<template>
  <div v-if="showInfo" class="content">
    <b-message
      title="RNA Central Search"
      type="is-success"
      :closable="isClosable"
      class="box"
    >
      <b-notification :closable="false">
        <article class="media">
          <figure class="media-left">
            <p class="image is-48x48">
              <img src="@/static/img/rnacentral-logo-48x48.png" />
            </p>
          </figure>
          <p>
            <small>
              <strong>ID: </strong>
              <a :href="rnacentral.url" target="_blank">
                {{ rnacentral.rnacentral_id }}
              </a>
              <br />
              <strong>Description: </strong>
              {{ rnacentral.description }}
              <br />
              <strong>Publications: </strong>
              <a :href="rnacentral.publications" target="_blank">
                {{ rnacentral.publications }}
              </a>
              <br />
              <strong>Count Distinct Organisms: </strong>
              {{ rnacentral.count_distinct_organisms }}
              <br />
              <strong>Distinct Databases: </strong>
              {{ rnacentral.distinct_databases }}
              <br />
            </small>
          </p>
        </article>
      </b-notification>
    </b-message>
  </div>

  <div v-else-if="searchInfo" class="content">
    <b-message
      :closable="isClosable"
      title="RNA Central Search"
      type="is-warning"
      class="box"
    >
      <b-notification :closable="false">
        <article class="media">
          <b-icon icon="database-search" size="is-medium" />
          Search Sequence in the RNA Central Database
          <b-loading
            :is-full-page="isFullPage"
            :active.sync="isLoading"
            :can-cancel="true"
          />
        </article>
      </b-notification>
    </b-message>
  </div>

  <b-message
    v-else
    :closable="isClosable"
    title="RNA Central Search"
    type="is-danger"
    class="box"
  >
    <b-notification :closable="false">
      <article class="media">
        <figure class="media-left">
          <p class="image is-32x32">
            <img src="@/static/img/rnacentral-logo-32x32.png" />
          </p>
        </figure>
        Sequence not found in the RNA Central Database
      </article>
    </b-notification>
  </b-message>
</template>

<script>
const md5 = require('md5')

export default {
  props: {
    sequence: {
      type: String,
      required: true
    },
    isClosable: {
      type: Boolean,
      default: false
    },
    isFullPage: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      rnacentral: [],
      isLoading: true
    }
  },
  created() {
    this.getRnaCentral(this.sequence)
  },
  methods: {
    async checkSequenceRnaCentral(sequence) {
      try {
        return await this.$axios
          .get('/rnacentral/api/v1/rna', {
            params: {
              md5: md5(sequence)
            }
          })
          .then(response => {
            // console.log('RETORNO FUNÇÃO CHECK SEQ RNACENTRAL: ', response)
            return response.data.results[0]
          })
      } catch (e) {
        console.log('CATCH FUNCTION RNACENTRAL', e)
        this.isLoading = false
      }
    },
    async getRnaCentral(sequence) {
      // console.info('START LOADING RNA CENTRAL')
      this.isLoading = true

      // CLEAN
      this.rnacentral = []

      // console.info('FUNÇÃO FOI EXECUTADA GETRNACENTRAL!', sequence)
      this.showInfo = false

      try {
        this.searchInfo = true
        await this.checkSequenceRnaCentral(sequence).then(response => {
          // console.log('CENTRAL ID:', response)

          if (response) {
            /* this.rnacentral = {
              rnacentralUrl: response.url,
              rnacentralId: response.rnacentral_id,
              rnacentralPublications: response.publications,
              rnacentralDescription: response.description,
              rnacentralCountDistinctOrg: response.count_distinct_organisms,
              rnacentralDistinctDb: response.distinct_databases
            } */

            this.rnacentral = response

            this.showInfo = true

            // console.info('ARRAY RETORNO RNACENTRAL, SEQ ' + internalId, this.rnacentral)
          }
        })
        this.searchInfo = false

        this.isLoading = false
        // console.info('STOP LOADING')
      } catch (e) {
        console.log(e)
        this.isLoading = false
      }
    }
  }
}
</script>
