<template>
  <b-field>
    <button class="button" :variant="variant" @click="downloadFasta(taxon)">
      <spinner v-if="downloading" />
      <span v-else>
        <b-icon icon="file-download" />
      </span>
    </button>

    <button
      class="button"
      :variant="variant"
      @click="preShowInformation(taxon)"
    >
      <spinner v-if="showing" />
      <span v-else>
        <b-icon icon="eye" />
      </span>
    </button>

    <!--
    <div
      id="modal-fadeInScale-fs"
      class="modal modal-full-screen modal-fx-fadeInScale"
      :class="{ 'is-active': activeModal }"
    >
      <div v-if="numSeqTaxon <= maxNumSeq" class="modal-content modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title is-capitalized">
            {{ taxonName }}
            <span class="has-text-grey">
              ({{ numSeqTaxon | humanReadable }} sequences)
            </span>
            <button
              class="button"
              :variant="variant"
              @click="downloadFasta(taxon)"
            >
              <spinner v-if="downloading" />
              <span v-else>
                <b-icon icon="file-download" />
              </span>
            </button>
            <b-notification :closable="false">
              <p>
                <span>
                  <span class="tag"
                    ><strong>External API Status: </strong></span
                  >
                  <span v-if="statusRnaCentral" class="tag is-success"
                    >RNA Central</span
                  >
                  <span v-else class="tag is-ranger">RNA Central</span>
                  <span v-if="statusRfam" class="tag is-success">Rfam</span>
                  <span v-else class="tag is-danger">Rfam</span>
                </span>
              </p>
            </b-notification>
          </p>
          <button
            class="modal-button-close delete"
            aria-label="close"
            @click="closeInformation()"
          />
        </header>

        <div class="modal-card-body">
          <template v-if="searchNr2Api">
            <b-message
              :closable="isClosable"
              title="NR2 Database Information"
              type="is-warning"
              class="box"
            >
              <article class="media">
                <b-icon icon="database-search" size="is-medium" /> Loading List
                Sequence(s) NR2 Database
              </article>

              <b-loading
                :is-full-page="isFullPage"
                :active.sync="isLoadingNr2"
                :can-cancel="true"
              />
            </b-message>
          </template>

          <template v-else>
            <section>
              <b-table
                ref="table"
                :data="items"
                :show-detail-icon="showDetailIcon"
                :per-page="100"
                :selected.sync="selected"
                paginated
                detailed
                detail-key="id"
                @details-open="(row, index) => callBackDetails(row, index)"
              >
                <template slot-scope="props">
                  <b-table-column
                    field="id"
                    label="ID"
                    width="40"
                    numeric
                    sortable
                  >
                    {{ props.row.id }}
                  </b-table-column>

                  <b-table-column field="description" label="Description" sortable>
                    {{ props.row.organism }}
                  </b-table-column>
                </template>

                <template slot="detail" slot-scope="props">
                  <div class="media-content">
                    <div class="content">
                      <b-message
                        :closable="isClosable"
                        title="NR2 Database Information"
                        type="is-info"
                        class="box"
                      >
                        <b-notification :closable="false">
                          <article class="media">
                            <figure class="media-left">
                              <p class="image is-48x48">
                                <img src="@/static/img/nr2-logo-48x48.png" />
                              </p>
                            </figure>
                            <p>
                              <small>
                                <strong>Sequence: </strong>
                                <br />
                                {{ props.row.sequence }}
                                <br />
                                <b-field>
                                  <div class="control">
                                    <b-taglist attached>
                                      <strong
                                        v-for="letter in props.row.sequence"
                                        :key="letter.id"
                                      >
                                        <b-tag
                                          v-if="letter == 'A'"
                                          type="is-success"
                                          >{{ letter }}</b-tag
                                        >
                                        <b-tag
                                          v-if="letter == 'C'"
                                          type="is-info"
                                          >{{ letter }}</b-tag
                                        >
                                        <b-tag
                                          v-if="letter == 'G'"
                                          type="is-danger"
                                          >{{ letter }}</b-tag
                                        >
                                        <b-tag
                                          v-if="letter == 'T'"
                                          type="is-warning"
                                          >{{ letter }}</b-tag
                                        >
                                      </strong>
                                    </b-taglist>
                                  </div>
                                </b-field>
                                <br />
                              </small>
                            </p>
                          </article>
                        </b-notification>
                      </b-message>
                    </div>

                    <RnaCentral
                      v-if="statusRnaCentral"
                      :sequence="props.row.sequence"
                    />

                    <Rfam v-if="statusRfam" :sequence="props.row.sequence" />
                  </div>
                </template>
              </b-table>
            </section>
          </template>
        </div>

        <footer class="modal-card-foot">
          <button
            class="button is-primary"
            type="button"
            @click="closeInformation()"
          >
            Close
          </button>
        </footer>
      </div>

      <div v-else class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title is-capitalized">
            NR2 Database Info
          </p>
          <button
            class="modal-button-close delete"
            aria-label="close"
            @click="closeInformation()"
          />
        </header>
        <div class="modal-card-body">
          <b-notification type="is-warning" has-icon :closable="false">
            The limit of sequences to be displayed at a time is
            <strong>{{ maxNumSeq | humanReadable }}</strong
            >, you tried to open a larger quantity
            <strong>{{ numSeqTaxon | humanReadable }}</strong
            >. Use the tool filters to try to reduce them.
          </b-notification>
        </div>
        <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeInformation()">
            Close
          </button>
        </footer>
      </div>
    </div>
    -->

    <b-modal :active.sync="activeModal" has-modal-card>
      <div
        v-if="numSeqTaxon < maxNumSeq"
        class="modal-card"
        style="width: auto"
      >
        <header class="modal-card-head">
          <p class="modal-card-title is-capitalized">
            {{ taxonName }}
            <span class="has-text-grey">
              ({{ numSeqTaxon | humanReadable }} sequences)
            </span>
            <button
              class="button"
              :variant="variant"
              @click="downloadFasta(taxon)"
            >
              <spinner v-if="downloading" />
              <span v-else>
                <b-icon icon="file-download" />
              </span>
            </button>
            <b-notification :closable="false">
              <p>
                <span>
                  <span class="tag"
                    ><strong>External API Status: </strong></span
                  >
                  <span v-if="statusRnaCentral === null" class="tag is-warning"
                    >RNA Central</span
                  >
                  <span v-else-if="!statusRnaCentral" class="tag is-danger"
                    >RNA Central</span
                  >
                  <span v-else class="tag is-success">RNA Central</span>

                  <span v-if="statusRfam === null" class="tag is-warning"
                    >Rfam</span
                  >
                  <span v-else-if="!statusRfam" class="tag is-danger"
                    >Rfam</span
                  >
                  <span v-else class="tag is-success">Rfam</span>
                </span>
              </p>
            </b-notification>

            <b-field
              v-if="
                numSeqTaxon <= maxSeqSearch &&
                  filter.length > 0 &&
                  search_query.description === ''
              "
              type="is-info"
              message="Class or Organism Name"
            >
              <b-input
                v-model="search_query.description"
                icon="magnify"
                type="search"
                placeholder="Search in Description"
                rounded
              />
            </b-field>

            <b-field
              v-else-if="numSeqTaxon <= maxSeqSearch && filter.length > 0"
              type="is-success"
              :message="`Class or Organism Name - Found ${filter.length}`"
            >
              <b-input
                v-model="search_query.description"
                icon="magnify"
                type="search"
                placeholder="Search in Description"
                rounded
              />
            </b-field>

            <b-field
              v-else-if="numSeqTaxon <= maxSeqSearch"
              type="is-danger"
              message="Class or Organism Name not found"
            >
              <b-input
                v-model="search_query.description"
                icon="magnify"
                type="search"
                placeholder="Search in Description"
                rounded
              />
            </b-field>
          </p>
        </header>

        <div class="modal-card-body">
          <template v-if="searchNr2Api">
            <b-message
              :closable="isClosable"
              title="NR2 Database Information"
              type="is-warning"
              class="box"
            >
              <article class="media">
                <b-icon icon="database-search" size="is-medium" /> Loading List
                Sequence(s) NR2 Database
              </article>

              <b-loading
                :is-full-page="isFullPage"
                :active.sync="isLoadingNr2"
                :can-cancel="true"
              />
            </b-message>
          </template>

          <template v-else>
            <section>
              <b-table
                ref="table"
                :data="filter"
                :show-detail-icon="showDetailIcon"
                :per-page="100"
                :selected.sync="selected"
                paginated
                detailed
                detail-key="id"
                @details-open="(row, index) => callBackDetails(row, index)"
              >
                <template slot-scope="props">
                  <b-table-column
                    field="id"
                    label="ID"
                    width="40"
                    numeric
                    sortable
                  >
                    {{ props.row.id }}
                  </b-table-column>

                  <b-table-column
                    v-if="
                      checkClassAndOrganism(
                        props.row.countClasses,
                        props.row.countOrganisms
                      )
                    "
                    field="description"
                    label="Description"
                    sortable
                    class="is-capitalized"
                  >
                    {{ props.row.classesSection }} from
                    {{ props.row.organismsSection }}
                  </b-table-column>

                  <b-table-column
                    v-else-if="
                      !props.row.countClasses && props.row.countOrganisms === 1
                    "
                    field="description"
                    label="Description"
                    sortable
                    class="is-capitalized"
                  >
                    Unclassified from
                    {{ props.row.organismsSection }}
                  </b-table-column>

                  <b-table-column
                    v-else-if="
                      !props.row.countClasses && props.row.countOrganisms > 1
                    "
                    field="description"
                    label="Description"
                    sortable
                    class="is-capitalized"
                  >
                    Unclassified from
                    {{ props.row.countOrganisms }} Organisms
                  </b-table-column>

                  <b-table-column
                    v-else-if="props.row.countClasses == 1"
                    field="description"
                    label="Description"
                    sortable
                    class="is-capitalized"
                  >
                    {{ props.row.classesSection }} from
                    {{ props.row.countOrganisms }} Organisms
                  </b-table-column>

                  <b-table-column
                    v-else
                    field="description"
                    label="Description"
                    sortable
                    class="is-capitalized"
                  >
                    {{ props.row.countClasses }} Classes from
                    {{ props.row.countOrganisms }} Organisms
                  </b-table-column>

                  <!--
                  <b-table-column field="class" label="Classes per DB" sortable>
                    {{ props.row.class }}
                  </b-table-column>
                  -->
                </template>

                <template slot="detail" slot-scope="props">
                  <div class="media-content">
                    <div class="content">
                      <b-message
                        :closable="isClosable"
                        title="NR2 Database Information"
                        type="is-info"
                        class="box"
                      >
                        <b-notification :closable="false">
                          <article class="media">
                            <figure class="media-left">
                              <p class="image is-48x48">
                                <img src="@/static/img/nr2-logo-48x48.png" />
                              </p>
                            </figure>
                            <p>
                              <small>
                                <strong>NR2 ID: </strong>
                                {{ props.row.id }}
                                <br />
                                <strong>Length: </strong>
                                {{ props.row.sequenceLength }}
                                <br />
                                <strong>Number copies: </strong>
                                {{ props.row.sequenceNumCopies }}
                                <br />
                                <strong>Number Unclassified Copies: </strong>
                                {{ props.row.sequenceNumUnclassCopies }}
                                <br />
                                <strong>Distinct Classes: </strong>
                                {{ props.row.classes }}
                                <br />
                                <strong>Distinct Databases: </strong>
                                {{ props.row.databases }}
                                <br />
                                <strong>Distinct Organisms: </strong>
                                {{ props.row.organisms }}
                                <!--<br />
                                <strong>Classes x Databases: </strong>
                                {{ props.row.classesAndDBs }}-->
                                <br />
                                <br />
                                <strong>Sequence: </strong>
                                <b-tooltip
                                  label="Copy Sequence"
                                  type="is-light"
                                  position="is-right"
                                >
                                  <button
                                    v-clipboard:copy="props.row.sequence"
                                    class="button is-primary is-small is-rounded"
                                    type="button"
                                    @click="copySequence"
                                  >
                                    <b-icon
                                      icon="content-copy"
                                      size="is-small"
                                    />
                                  </button>
                                </b-tooltip>
                                <b-field>
                                  <div class="control">
                                    <b-taglist attached>
                                      <strong
                                        v-for="letter in props.row.sequence"
                                        :key="letter.id"
                                      >
                                        <b-tag
                                          v-if="letter == 'A'"
                                          type="is-success"
                                          >{{ letter }}</b-tag
                                        >
                                        <b-tag
                                          v-if="letter == 'C'"
                                          type="is-info"
                                          >{{ letter }}</b-tag
                                        >
                                        <b-tag
                                          v-if="letter == 'G'"
                                          type="is-danger"
                                          >{{ letter }}</b-tag
                                        >
                                        <b-tag
                                          v-if="letter == 'T'"
                                          type="is-warning"
                                          >{{ letter }}</b-tag
                                        >
                                      </strong>
                                    </b-taglist>
                                  </div>
                                </b-field>
                              </small>
                            </p>
                          </article>
                        </b-notification>
                      </b-message>
                    </div>

                    <RnaCentral
                      v-if="statusRnaCentral"
                      :sequence="props.row.sequence"
                    />

                    <Rfam v-if="statusRfam" :sequence="props.row.sequence" />
                  </div>
                </template>
              </b-table>
            </section>
          </template>
        </div>

        <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeInformation()">
            Close
          </button>
        </footer>
      </div>
      <div v-else class="modal-card" style="width: auto">
        <header class="modal-card-head">
          <p class="modal-card-title is-capitalized">
            NR2 Database Info
          </p>
        </header>
        <div class="modal-card-body">
          <b-notification type="is-warning" has-icon :closable="false">
            The limit of sequences to be displayed at a time is
            <strong>{{ maxNumSeq | humanReadable }}</strong
            >, you tried to open a larger quantity
            <strong>{{ numSeqTaxon | humanReadable }}</strong
            >. Use the tool filters to try to reduce them.
          </b-notification>
        </div>
        <footer class="modal-card-foot">
          <button class="button" type="button" @click="closeInformation()">
            Close
          </button>
        </footer>
      </div>
    </b-modal>
  </b-field>
</template>

<script>
import { mapState } from 'vuex'

import fileSaver from 'file-saver'

import spinner from '@/components/Spinner.vue'

import RnaCentral from '@/components/RnaCentral.vue'

import Rfam from '@/components/Rfam.vue'

const JSZip = require('jszip')

export default {
  components: {
    spinner,
    RnaCentral,
    Rfam
  },

  filters: {
    humanReadable(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  },

  props: {
    taxon: {
      type: Object,
      required: true
    },
    variant: {
      type: String,
      required: false,
      default: 'primary'
    }
  },

  data() {
    return {
      downloading: false,
      showing: false,
      defaultOpenedDetails: [1],
      showDetailIcon: true,
      searchNr2Api: false,
      isClosable: false,
      isLoadingNr2: false,
      isFullPage: false,
      taxonName: '',
      maxNumSeq: 300000,
      numSeqTaxon: '',
      items: [],
      selected: null,
      statusRnaCentral: null,
      statusRfam: null,
      activeModal: false,
      timeoutApi: 3000,
      isExpanded: false,
      maxSeqSearch: 1000,
      search_query: {
        description: ''
      }
    }
  },

  computed: {
    ...mapState(['selectedClasses']),
    filter: function() {
      const nameRe = new RegExp(this.search_query.description, 'i')
      const items = []
      for (const i in this.items) {
        if (this.items[i].description.match(nameRe)) {
          items.push(this.items[i])
        }
      }

      // console.info(`Array quantidade: ${items.length}`)

      return items
    }
  },

  methods: {
    checkClassAndOrganism(countClasses, countOrganisms) {
      if (countClasses === 1 && countOrganisms === 1) {
        return true
      } else {
        return false
      }
    },
    copySequence() {
      this.$toast.open('Sequence copied!')
    },
    async downloadFasta(taxon) {
      this.downloading = true
      // console.info('TAXON: ', taxon)

      try {
        const data = await this.$axios.$post('/nr2/rpc/download_fasta', {
          id_parent: taxon.id_taxon,
          id_classes: '{' + this.selectedClasses.join(',') + '}'
        })

        const fasta = data.map(entry => {
          const id = entry.sequence.id_sequence

          const organisms = entry.organisms.map(el => el.organism)
          const uniqueOrganisms = removeDuplicates(organisms)
          const organismsSection = uniqueOrganisms.join(',')
          const dbs = entry.databases.map(el => el.database)
          const classes = entry.classes.map(el => el.class)
          const classesPerDBs = zip(dbs, classes, (a1, a2) => `${a1}(${a2})`)
          const classesAndDBsSection = classesPerDBs.join(',')

          const sequence = entry.sequence.sequence

          return `>${id}|${organismsSection}|${classesAndDBsSection}\n${sequence}\n`
        })

        const filename = taxon.taxon.replace(/\s/g, '_') + '.fa'

        const filenameZip = filename + '.zip'

        const file = new File(fasta, filename.toLowerCase(), {
          type: 'text/plain;charset=utf-8'
        })

        const fastaZip = new JSZip()

        fastaZip.file(filename, file)

        fastaZip
          .generateAsync({
            type: 'blob',
            compression: 'DEFLATE',
            compressionOptions: {
              level: 9
            }
          })
          .then(function(content) {
            // see FileSaver.js
            // saveAs(content, "example.zip");
            fileSaver.saveAs(content, filenameZip)
            // fileSaver.saveAs(file)
          })
      } catch (e) {
        console.log(e)
      }

      this.downloading = false
    },
    preShowInformation(taxon) {
      this.veryfyApis()
      this.showInformation(taxon)
    },
    async veryfyApis() {
      // TEST API RNA CENTRAL
      try {
        await this.$axios
          .get('/rnacentral/api/v1/rna', {
            timeout: this.timeoutApi
          })
          .then(response => {
            // console.log('STATUS RNACENTRAL', response.status)
            if (response.status !== 200) {
              return (this.statusRnaCentral = false)
            } else {
              return (this.statusRnaCentral = true)
            }
          })
      } catch (e) {
        console.log('TEST API RNA CENTRAL', e)
        return (this.statusRnaCentral = false)
      }

      // TEST API RFAM
      try {
        await this.$axios.post('/rfam/search/sequence').then(response => {
          // console.log('STATUS RFAM', response.status)
          if (response.status !== 200) {
            return (this.statusRfam = false)
          } else {
            return (this.statusRfam = true)
          }
        })
      } catch (e) {
        console.log('TEST API RFAM', e)
        return (this.statusRfam = false)
      }
    },
    async showInformation(taxon) {
      // this.activeModal = true
      this.activeModal = true

      // clear array
      this.items = []

      this.taxonName = taxon.taxon
      this.numSeqTaxon = taxon.num_sequences

      try {
        this.isLoadingNr2 = true
        this.searchNr2Api = true

        const output = await this.$axios.$post('/nr2/rpc/download_fasta', {
          id_parent: taxon.id_taxon,
          id_classes: '{' + this.selectedClasses.join(',') + '}'
        })

        this.searchNr2Api = false
        this.isLoadingNr2 = false

        // console.log('OUTPUT: ', output)

        output.map(entry => {
          // console.log('ENTRY: ', entry)

          const id = entry.sequence.id_sequence

          const organisms = entry.organisms.map(el => el.organism)
          const uniqueOrganisms = removeDuplicates(organisms)
          const countOrganisms = uniqueOrganisms.length
          const organismsSection = uniqueOrganisms.join(',')

          // const dbs = entry.databases.map(el => el.database)
          const classes = entry.classes.map(el => el.class)
          const uniqueClasses = removeDuplicates(classes)

          uniqueClasses.splice(uniqueClasses.indexOf('Unclassified'), 1)

          // console.info('Classes sem Unclassified: ', classesClean)

          const countClasses = uniqueClasses.length

          const classesSection = uniqueClasses.join(',')

          const dbs = entry.databases.map(el => el.database)
          const uniqueDatabases = removeDuplicates(dbs)

          const classesPerDBs = zip(dbs, classes, (a1, a2) => `${a1}(${a2})`)
          const classesAndDBsSection = classesPerDBs.join(',')

          const sequence = entry.sequence.sequence

          const sequenceLength = entry.sequence.length
          const sequenceNumCopies = entry.sequence.num_copies
          const sequenceNumUnclassCopies =
            entry.sequence.num_unclassified_copies

          this.items.push({
            id: id,
            organisms: uniqueOrganisms,
            countOrganisms: countOrganisms,
            organismsSection: organismsSection,
            classes: uniqueClasses,
            classesSection: classesSection,
            countClasses: countClasses,
            sequence: sequence,
            sequenceLength: sequenceLength,
            sequenceNumCopies: sequenceNumCopies,
            sequenceNumUnclassCopies: sequenceNumUnclassCopies,
            databases: uniqueDatabases,
            classesAndDBs: classesAndDBsSection,
            description: `${classesSection} from ${organismsSection}`
          })
          // console.log('ITENS: ', this.items)
        })
      } catch (e) {
        console.log('CATCH TRY GERAL', e)
        this.isLoadingNr2 = false
      }
    },
    callBackDetails(row, index) {
      this.selected = row
    },
    closeInformation() {
      this.activeModal = false
    }
  }
}

function removeDuplicates(a) {
  return a.filter((value, index, self) => {
    return self.indexOf(value) === index
  })
}

function zip(a1, a2, zipper) {
  return a1.map((e1, i1) => {
    return zipper(e1, a2[i1])
  })
}
</script>
