<template>
  <div class="column box modal-card" style="width: auto">
    <header class="modal-card-head grouped">
      <p class="modal-card-title">Download sequences</p>
      <button class="button" @click="refreshHierarchy()">Reset</button>
    </header>
    <section class="modal-card-body">
      <div v-if="nothingSelected" class="box is-fluid is-centered">
        <!--<div
            v-if="nothingSelected"
            class="border d-flex justify-content-center align-items-center p-5"
          >-->
        No class selected! Nothing to download.
      </div>
      <div v-else-if="loadingRoot" class="box is-centered">
        <!--<div v-else-if="loadingRoot"
            class="border d-flex justify-content-center align-items-center p-5">-->
        <spinner />
      </div>

      <div
        v-else
        ref="hierarchySlider"
        class="columns is-variable taxonomic-level-slider"
      >
        <!-- <b-row v-else ref="hierarchySlider" no-gutters
               class="flex-row flex-md-nowrap row-eq-height taxonomic-level-slider"> -->

        <taxon-hierarchy-level
          v-for="level of hierarchy"
          :key="level.parent.id_taxon"
          :level="level"
          @expand-hierarchy="scrollLeft"
        />
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapGetters, mapActions } from 'vuex'

import spinner from '@/components/Spinner.vue'
import taxonHierarchyLevel from '@/components/TaxonHierarchyLevel.vue'

export default {
  components: {
    spinner,
    taxonHierarchyLevel
  },

  computed: {
    ...mapState(['hierarchy', 'selectedClasses', 'loadingRoot']),
    ...mapGetters(['nothingSelected'])
  },

  async mounted() {
    await this.$store.dispatch('initializeHierarchy')
  },

  methods: {
    ...mapActions(['refreshHierarchy']),

    scrollLeft() {
      const slider = this.$refs.hierarchySlider
      slider.scrollLeft += slider.lastChild.offsetWidth
    }
  }
}
</script>

<style>
.taxonomic-level-slider {
  overflow-x: auto;
}
</style>
