<template>
  <div class="column box">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head grouped">
        <p class="modal-card-title">Filter by classes</p>
        <button class="button" @click="selectAllClasses()">Select All</button>
        <button class="button" @click="clearClasses()">Clear</button>
      </header>
      <section class="modal-card-body">
        <div v-if="classesReady" class="block">
          <b-checkbox
            v-for="option in options"
            :key="option.id"
            v-model="selected"
            :native-value="option.value"
          >
            {{ option.text }}
          </b-checkbox>
        </div>
        <spinner v-else class="box" />
      </section>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import spinner from '@/components/Spinner.vue'

export default {
  components: {
    spinner
  },

  computed: {
    ...mapState(['availableClasses', 'selectedClasses', 'classesReady']),

    options() {
      return this.availableClasses.map(c => ({
        text: c.class,
        value: c.id_class
      }))
    },

    selected: {
      get() {
        return this.selectedClasses
      },
      async set(classIds) {
        await this.$store.dispatch('updateSelectedClasses', { classIds })
      }
    }
  },

  async mounted() {
    await this.$store.dispatch('initializeClasses')
  },

  methods: {
    ...mapActions(['selectAllClasses', 'clearClasses'])
  }
}
</script>
