<template>
  <div class="column box">
    <div class="modal-card" style="width: auto">
      <header class="modal-card-head">
        <p class="modal-card-title">Search a taxon</p>
      </header>
      <section class="modal-card-body">
        <b-field>
          <p class="control">
            <span class="button is-static">
              <b-icon icon="database-search" />
            </span>
          </p>
          <b-input
            v-model="query"
            type="text"
            placeholder="Search a taxon name"
            expanded
            @input="searchTaxonLazy"
          />
        </b-field>

        <div v-if="searching" position="is-centered">
          <!-- class="border d-flex justify-content-center align-items-center p-5"> -->
          <spinner />
        </div>

        <div v-else>
          <div
            v-for="taxon of taxa"
            :key="taxon.taxon"
            class="search-result"
            @click="reRootHierarchy(taxon)"
          >
            <button class="button">
              <b-icon icon="arrow-right-thick" />
            </button>

            <div class="search-result__text">{{ taxon.taxon }}</div>
          </div>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

import spinner from '@/components/Spinner.vue'

const searchTaxonDelay = 500

export default {
  components: {
    spinner
  },

  data() {
    return {
      query: '',
      taxa: [],
      typingTimer: false,
      searching: false
    }
  },

  computed: {
    ...mapState(['selectedClasses'])
  },

  methods: {
    searchTaxonLazy() {
      clearTimeout(this.typingTimer)
      if (this.query !== '') {
        this.typingTimer = setTimeout(this.searchTaxon, searchTaxonDelay)
      }
    },

    async searchTaxon() {
      this.searching = true

      const results = await this.$axios.$post('/nr2/rpc/search_taxon', {
        input: this.query,
        id_classes: this.selectedClasses,
        maximum: 10
      })
      this.taxa = results

      this.searching = false
    },

    async reRootHierarchy(taxon) {
      await this.$store.dispatch('reRootHierarchy', { parent: taxon })
      this.$emit('re-root-hierarchy')
    }
  }
}
</script>

<style lang="scss">
.search-result {
  display: flex;
  align-items: center;
}

.search-result:hover {
  background-color: theme-color('light');
}

.search-result__text {
  padding: 0.5rem 0.75rem;
  flex: auto;
}
</style>
