<template>
  <!-- <b-field horizontal> -->
  <div class="field is-horizontal box">
    <div class="field-body">
      <div class="modal-card" style="width: auto">
        <header class="modal-card-head grouped">
          <b-field>
            {{ root.taxon }}
            <span class="has-text-grey">
              ({{ root.num_sequences | humanReadable }} sequences)
            </span>
            <sequences-downloader :taxon="root" variant="sm" />
          </b-field>
        </header>
        <section class="modal-card-body">
          <!-- Spinner in case hierarchy is not ready -->
          <div v-if="loadingChildren">
            <!-- <div v-if="loadingChildren" class="d-flex justify-content-center align-items-center p-5"> -->
            <spinner />
          </div>

          <!-- Message in case there is no more hierarchy to expand -->
          <div v-else-if="noChildren" class="is-centered">
            <span class="has-text-grey box">
              No children with sequences available for the current selected
              classes
            </span>
          </div>

          <!-- List representing the hierarchy otherwise -->
          <template v-else>
            <!-- Search bar, to filter hierarchy -->
            <b-field>
              <p class="control">
                <span class="button is-static">
                  <b-icon icon="magnify" />
                </span>
              </p>
              <b-input
                v-model="taxonFilter"
                type="text"
                expanded
                placeholder="Find in the list..."
              />
            </b-field>
            <br />
            <!-- Buttons for taxa -->
            <b-field v-for="taxon of taxa" :key="taxon.id_taxon">
              <sequences-downloader :taxon="taxon" />
              <button
                class="button taxon"
                variant="primary"
                @click="expandHierarchy(taxon)"
              >
                {{ taxon.taxon }}
                ({{ taxon.num_sequences | humanReadable }})
              </button>
            </b-field>
          </template>
        </section>
      </div>
    </div>
  </div>
  <!--</b-field>-->
</template>

<script>
import { mapState } from 'vuex'

import spinner from '@/components/Spinner.vue'
import sequencesDownloader from '@/components/SequencesDownloader.vue'

export default {
  components: {
    spinner,
    sequencesDownloader
  },

  filters: {
    humanReadable(number) {
      return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',')
    }
  },

  props: {
    level: {
      type: Object,
      required: true,
      validator: value => value.parent !== undefined
    }
  },

  data() {
    return {
      taxonFilter: ''
    }
  },

  computed: {
    ...mapState(['hierarchyReady']),

    root() {
      return this.level.parent
    },

    taxa() {
      return this.level.children.filter(taxon => {
        return taxon.taxon.match(new RegExp(this.taxonFilter, 'i'))
      })
    },

    loadingChildren() {
      return !this.hierarchyReady && this.taxa.length === 0
    },

    noChildren() {
      return this.hierarchyReady && this.taxa.length === 0
    }
  },

  methods: {
    async expandHierarchy(taxon) {
      await this.$store.dispatch('expandHierarchy', { parent: taxon })
      this.$emit('expand-hierarchy')
    }
  }
}
</script>

<style lang="scss">
.taxon {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
</style>
