<template>
  <!--<div class="container is-fluid">-->
  <nuxt />
  <!--</div>-->
</template>

<style lang="scss">
// Import Bulma's core
@import '~bulma/sass/utilities/_all';

html {
  font-size: 14px;
}

// Set your colors
$primary: #285e8e;
$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);

$navbar-height: 6rem;
$navbar-item-img-max-height: 3rem;
//$navbar-tab-hover-background-color: solid;
//$navbar-tab-active-color: $black;
//$navbar-tab-active-background-color: solid;
//$navbar-box-shadow-color: $white;

// font
$navbar-item-active-background-color: #334c66;

$navbar-item-active-color: $white;

// font color item
$navbar-item-color: $white;

// color item hover
$navbar-item-hover-background-color: #2c2c2c;

// font color item hover
$navbar-item-hover-color: $white;

// $navbar-padding-vertical: 2rem;
// $navbar-padding-horizontal: 2rem;
// $navbar-z: 30;
// $navbar-fixed-z: 30;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  ),
  'twitter': (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
</style>
