<template>
  <div>
    <Navbar />
    <section class="box" style="padding-top: 115px;">
      <taxon-name-search />
      <taxon-class-chooser />
      <taxon-hierarchy-search />
    </section>
    <Footer />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar.vue'
import taxonNameSearch from '@/components/TaxonNameSearch.vue'
import taxonClassChooser from '@/components/TaxonClassChooser.vue'
import taxonHierarchySearch from '@/components/TaxonHierarchySearch.vue'
import Footer from '@/components/Footer.vue'

export default {
  components: {
    Navbar,
    taxonNameSearch,
    taxonClassChooser,
    taxonHierarchySearch,
    Footer
  }
}
</script>
